.navbar {
  z-index: 4;
  position: relative;
  align-items: center;
  background-color: #fff;
  display: flex;
  flex-wrap: nowrap;
  height: 5rem;
  justify-content: space-between;
  padding: 1rem 2rem;
  width: 100%;
  cursor: pointer;

  &__nombre,
  &__nombre:visited,
  &__nombre:hover {
    text-decoration: none;
  }

  &__nombre {
    position: absolute;
    transition: color 0.3s;
    transform: translate(-50%, -50%);
    color: $dark-blue;
    font-weight: 700;
    font-size: $font-lg;
    top: 50%;
    left: 50%;
  }

  &__menu {
    width: 1.5rem;
    height: 1.5rem;
  }

  &__cuenta {
    align-items: center;
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    .circulo {
      height: 3rem;
      width: 3rem;
      background-color: $dark-blue;
      border-radius: 50%;
      display: inline-block;
      margin-left: 1.5rem;
    }
  }
}
