//Fuentes
$fuente-principal: "Poppins", sans-serif;
$fuente-segundaria: "Helvetica";

//Tamaños de fuente
$font-sm: 0.875rem; //18px
$font-med: 1.125rem; //14px
$font-lg: 1.25rem;
$font-xlg: 3.25rem;

//Colores
$amarillo: #f6ca56;
$blanco: #ffffff;
$negro: #000000;
$azul-palido: #eef1f4;
$gris: #667080;
