@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;700&display=swap");

//Fuentes
$fuente-principal: "Be Vietnam Pro", sans-serif;
$fuente-secundaria: "Helvetica";

//Tamaños de fuente
$font-sm: 0.875rem; //18px
$font-med: 1.125rem; //14px
$font-lg: 1.25rem;
$font-xlg: 3.25rem;

// Primarios
$bright-red: hsl(12, 88%, 59%);
$dark-blue: hsl(228, 39%, 23%);

//Neutrales

$dark-grayish-blue: hsl(227, 12%, 61%);
$very-dark-blue: hsl(233, 12%, 13%);
$very-pale-red: hsl(13, 100%, 96%);
$very-light-gray: hsl(0, 0%, 98%);
$dark-gray: rgb(103, 111, 118);
$light-gray: rgb(233, 236, 239);
